nav {
  width:80%;
  border:orange solid 0px;
  padding:0px;
  position:fixed;
  top:0;
  left:50px;
  margin-right:auto;
  margin-left:auto;
}

nav ul {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color:#b30000
}

nav li {
  float:left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
	border:0px solid red;
	min-width:75px;
	min-height:25px;
}

nav li a:hover {
	background-color:#d078ed;
}